<<<<<<< HEAD
body {
  font-family: "Rubik Moonrocks", sans-serif;
  background-color: beige;
}
.scores {
  border-top: black solid 5px;
}
=======
body {
  font-family: "Rubik Moonrocks", sans-serif;
  background-color: beige;
}
>>>>>>> b568abeedbfe1efea2c5f6b1aa757e9c8fd2ba92
